@import "normalize.css";

.nav-header {
    background-color: grey;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.nav-header nav {
    margin-right: 1rem;
}

.nav-header img {
    height: 10vh;
    width: 10vh;    
}
.nav-items {
    width: 68%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-items a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}
.nav-items a:hover {
    color: orange;
    text-decoration: none;
    font-size: 1.5rem
    
    }

.hero-image {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-image h1, h2 {
    color: white;
}
.blogs {
    background-color: none;
    }
.blogs h1 {
    display: flex;
    justify-content: center;
}    


@media only screen and (min-width: 800px) {
    
    .hero-image h1, h2 {
    color: pink;

}
.hero-image h1 {
    font-size: 8rem;
}
}
.coder {
    color:;
}
.contact-bar {
    display: flex;

}
.contact-me {
    color: blue;
    font-size: 50px;;
}
.reach-me {
    background-color: grey;
    height: 10vh; 
    display: flex;
    justify-content: space-between;
}

.container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.box {
    width: 200px;
    height: 200px;
    margin: 5px;
    background: lightblue;

}
.box {
    font-size: 20px;
    
}
.linked-in {
       height: 70px;
    width: 70px; 

}
.git-hub {
     height: 70px;
    width: 70px; 
}
.download-button {
    width: 10vh;
    height: 5vh;
    border-radius: 10px;
    border: 2px solid blue;
    background-color: white;
    color: blue;
    transition: 2s;
}
.download-button:hover {
    background-color: blue;
    color: white;
    transition: 1s;
    width: 20vh;
    height: 10vh;
}
.gallery {
    width: 20vh;
    height: 20vh;
    transition: 2s;
}
.gallery:hover {
    width: 40vh;
    height: 40vh;
    transition: 1s;
}
.contact-bar {
    width: 40vh;
    height: 5vh;
    background: rgb(133, 137, 133);
}
.contact-bar:hover {
    animation-name: colorful-text;
    animation-duration: 7s;
}
@keyframes colorful-text {
    0%{
        background: lightblue;
    }
    10% {
        background-color: yellow;
    }
    20% {
        background-color: blue;
    }
    30% {
        background-color: red;
    }
    40% {
        background-color: green;
    }
}
.mobile {
     width: 30vh;
    height: 5vh;
    background: rgb(133, 137, 133);
}
.mobile:hover {
     animation-name: colorful-text;
    animation-duration: 7s;
}
@keyframes colorful-text {
     0%{
        background: lightblue;
    }
    10% {
        background-color: yellow;
    }
    20% {
        background-color: blue;
    }
    30% {
        background-color: red;
    }
    40% {
        background-color: green;
    }
}
